[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
gym = "*"
atari-py = "*"
numpy = "*"
matplotlib = "*"
torch = "*"
torchvision = "*"
opencv-python = "*"
gym-retro = "*"
tensorflow = "==1.14"
notebook = "*"

[requires]
python_version = "3.7"
