[Desktop Entry]
Encoding=UTF-8
Name=Link to Conquering OpenAI Retro Contest 2: Demystifying Rainbow Baseline
Type=Link
URL=https://medium.com/intelligentunit/conquering-openai-retro-contest-2-demystifying-rainbow-baseline-9d8dd258e74b
Icon=text-html
