[Desktop Entry]
Encoding=UTF-8
Name=Link to higgsfield/RL-Adventure: Pytorch Implementation of DQN / DDQN / Prioritized replay/ noisy networks/ distributional values/ Rainbow/ hierarchical RL
Type=Link
URL=https://github.com/higgsfield/RL-Adventure
Icon=text-html
