[Desktop Entry]
Encoding=UTF-8
Name=Link to Kaixhin/Rainbow: Rainbow: Combining Improvements in Deep Reinforcement Learning
Type=Link
URL=https://github.com/Kaixhin/Rainbow
Icon=text-html
